.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cartItem {
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
  }
  
  .cartItem img {
    width: 100px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 20px;
  }
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }
  
   button:hover {
    cursor: pointer;
   }

  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(15, 10, 75);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }

@media only screen and (max-width: 760px) {
  .cartItem {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin: 20px;
  }
  
  .cartItem img {
    width: 60px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 12px;
  }
  .countHandler input {
    width: 25px;
    text-align: center;
    font-weight: bolder;
  }

  .checkout button {
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .checkout p {
    text-align: center;
  }








  
}